.article-detail
  width: 40rem
  max-width: 90vw
  margin-left: auto
  margin-right: auto
  margin-top: 7rem
  img
    width: 40rem
    max-width: 90vw
    height: auto
    margin-bottom: 2rem
  h2
    font-size: 2rem
    font-weight: 600
  a
    color: inherit
    text-decoration: none
  a:hover
    text-decoration: underline