@use "sass:map"
@import '../styles/variables'

.contact
  height: 100%
  h1
    color: map-get($palette, 'clr-grey-2')
    font-size: 2.5rem
    margin-top: 9rem
    max-width: 40rem
  .p-button
    background: map-get($palette, 'clr-primary-2') !important
    width: fit-content !important
  .p-button:hover
    background: map-get($palette, 'clr-black') !important

.submit-toast
  min-width: 10rem
  margin-right: .5rem

@media screen and (max-width: 960px)
  .submit-toast
    right: 0
    width: 100%
    margin-right: 0
    margin-bottom: .5rem
