.section-contact
  height: 100%
  h1
    font-size: 3rem
    margin-top: 9rem
    margin-bottom: 7rem
    letter-spacing: 0.3rem

.submit-toast
  min-width: 10rem
  margin-right: .5rem

@media screen and (max-width: 960px)
  .submit-toast
    right: 0
    width: 100%
    margin-right: 0
    margin-bottom: .5rem
