@use "sass:map"
@import '../styles/variables'

$base-color: map-get($palette, 'clr-white')
$hover-color: rgba(220, 120, 150, 1)


// Global Styles

.section-about,
.section-work
  h2
    font-size: 1.6rem
    font-weight: 700
    color: map-get($palette, 'clr-primary-2')
  h3
    font-size: 1.4rem
    color: map-get($palette, 'clr-primary-2')
p
  font-size: 1.2rem
  color: map-get($palette, 'clr-grey-3')

// Hero

.section-hero
  position: relative
  height: 550px
  background: map-get($palette, 'clr-primary-2')
  overflow: hidden
  .hero-info
    text-align: center
    z-index: 1
    color: map-get($palette, 'clr-white')
    max-width: 80vw
    span
      color: map-get($palette, 'clr-primary-8')
    h1
      font-size: 2.5rem
      font-family: 'Anton', 'sans-serif'

.waves
  position: absolute
  height: 200px
  background-color: #4973ff
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5)
  transition: 500ms

.waves::before,
.waves::after
  content: ""
  position: absolute
  width: 300vw
  height: 300vw
  top: -65vw
  left: 50%
  transform: translate(-50%, -75%)

.waves::before
  border-radius: 44%
  background: map-get($palette, 'clr-grey-2')
  animation: waves 8s linear infinite

.waves::after
  border-radius: 44%
  animation: waves 15s linear infinite

@keyframes waves
  0%
    transform: translate(-50%, -75%) rotate(0deg)
  100%
    transform: translate(-50%, -75%) rotate(360deg)

// About Section

.section-about
  margin: 5rem 2rem
  text-align: center
  p
    max-width: 36rem
  img
    width: 100%
    height: auto
    max-width: 400px

// Work Section

.section-work
  .project-card
    margin: 6rem 0
  h3
    margin-top: 0
    font-weight: 700
  img
    width: 100%
    height: auto
    max-width: 500px
  .project-btn
    background: map-get($palette, 'clr-primary-2')

// Services Section

.section-services
  background: map-get($palette, 'clr-primary-2')
  height: fit-content
  margin: 0
  img
    width: 100%
    height: 250px
  .card-container
    position: relative
    top: 2.5rem
  .service-card
    max-width: 25rem

@media screen and (min-width: 1014px)
  .hero-info
    h1
      text-align: start
      font-size: 4rem !important