@use "sass:map"
@import '../styles/variables'

// Global Styles

.section-about,
.section-work,
.section-services,
.section-tech,
.section-workflow
  h2
    font-size: 2.5rem
    font-weight: 700
    color: map-get($palette, 'clr-grey-2')
  h3
    font-size: 1.4rem
    color: map-get($palette, 'clr-grey-2')
p
  font-size: 1.3rem
  color: map-get($palette, 'clr-grey-3')

// Hero

.section-hero
  position: relative
  background: map-get($palette, 'clr-grey-2')
  overflow: hidden
  .hero-info
    margin-top: 8rem
    margin-bottom: 6rem
    text-align: center
    z-index: 1
    color: map-get($palette, 'clr-white')
    span
      color: map-get($palette, 'clr-primary-8')
    h1
      font-size: 2.5rem
      font-family: 'Anton', 'sans-serif'

// About Section

.section-about
  p
    max-width: 40rem
  img
    width: 100%
    height: auto
    max-width: 500px

// Services Section

.section-services
  img
    width: 100%
    height: 300px
  .service-card
    height: 100%

//Technologies Section

.section-tech
  .tech-stack
    max-width: 1050px
    text-align: center
    .tech-icon
      font-size: 2.5rem
    p
      font-size: 1rem
      margin: 0

@media screen and (min-width: 768px)
  .section-hero
    .hero-info
      margin-top: 15rem
      h1
        font-size: 4rem !important

@media screen and (min-width: 992px)
  .service-card
    max-width: 25rem

